@import "_variables";

// ============
// CODE STYLING
// ============
pre {
    position: relative;
    margin: 0.5rem 1rem 2rem;
    padding: 0;
    overflow: auto;
    background: rgba(#c8d1cf, 0.15);
    white-space: normal;
    font-size: 1.5rem;
    border: 1px solid $c-main;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0.8rem 0;
        text-indent: 1.5rem;
        color: #fff;
        font-weight: bold;
        font-size: 133%;
        content: attr(rel);
        background-color: $c-main;
    }

    &[rel] { padding-top: 33px; }
}

code {
    display: block;
    overflow: auto;
    margin: 0;
    padding: 1.5rem;
    white-space: pre;
    font-family: $font-code;
}

// @End CODE STYLING
// =================
