@import "_variables";

// ============
// CODE STYLING
// ============
pre {
    position: relative;
    margin: 0.5rem 1rem 2rem;
    padding: 0;
    overflow: auto;
    background: rgba(#c8d1cf, 0.15);
    white-space: normal;
    font-size: 1.5rem;
    border: 1px solid $c-main;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0.8rem 0;
        text-indent: 1.5rem;
        color: #fff;
        font-weight: bold;
        font-size: 133%;
        content: attr(rel);
        background-color: $c-main;
    }

    &[rel] { padding-top: 33px; }
}

code {
    display: block;
    overflow: auto;
    margin: 0;
    padding: 1.5rem;
    white-space: pre;
    font-family: $font-code;
}

.comment { color: darken($color-subtitle, 18%); }

.code-indent,
.code-indent-2 {
    display: inline-block;
}

.code-indent { text-indent: $code-indent; }
.code-indent-2 { text-indent: $code-indent * 2; }
.boolean { color: $color-maintitle; }
.number { color: $c-header; }

.language-css {
    .selector { color: #7a8622; }
    .property { color: #4c7cc1; }
}

.language-html {
    .attribute { color: #7a8622; }
    .tag { color: #4c7cc1; }
}

.language-scss {
    .selector { color: #7a8622; }
    .property { color: #4c7cc1; }
    .variable { color: $color-maintitle; }
}

.python {
    .number,
    .statement { color: #7A8622; }
    .string { color: $color-maintitle; }

    .crispy-attribute {
        font-style: italic;
        color: #4976BC;
    }
}

.language-yml {
    .selector { color: #4c7cc1; }
    .property { color: #7a8622; }
}

// @End CODE STYLING
// =================