@import "_mixins";

// ====
// MENU
// ----
[role="navigation"] { font-family: $font-menu; }
[role="menuitem"] { text-decoration: none; }

// Breakpoints
// -----------

@include mq-max(517px) {
  // Position the menu outside the viewport
  [role="navigation"] {
    position: absolute;
    top: 0;
    bottom: 0;
    @include transform(translateX(-230px) translateZ(0));
    width: 200px;
    font-size: 1.6rem;
    background-color: $c-main;
    @include transition(transform 0.5s ease-in-out);
    z-index: 2;

    &.active {
      @include transform(translateX(-30px));
      box-shadow: 2px 0 6px 0 rgba(#000, 0.5);
    }
  }

  // Position items as a list
  [role="menuitem"] {
    display: block;
    color: #fff;
    padding: 0.4rem 0.8rem 0.4rem 1.2rem;
    border-top: 1px solid hsla(0, 0, 100%, 0.25);
    border-bottom: 1px solid hsla(0, 0, 30%, 0.25);

    &:first-of-type { margin-top: 40px; }

    &.selected {
      background-color: darken($c-main, 10%);
      border-bottom: 1px solid hsla(0, 0, 25%, 0.25);
    }

    &:hover { color: #fff; }
  }

  .mobile-wrapper {
    border-top: 1px solid hsla(0, 0, 25%, 0.25);
    border-bottom: 1px solid hsla(0, 0, 100%, 0.25);
  }
  // Hamburger animation changes which toggles to X icon
  // ---------------------------------------------------
  .hamburger-wrapper {
    position: absolute;
    top: 0;
    @include transform(translateX(200px) translateZ(0));
    width: 105px;
    @include flexbox();
    height: 30px;
    padding: 20px 13px 19px 13px;
    color: #fff;
    background-color: $c-main;
    cursor: pointer;
    @include transition(transform 0.5s ease-in-out);

    .active & { @include transform(translateX(0)) }
  }

  .menu-text {
    @include flex-grow(1);
    margin-top: -10px;
    margin-left: 10px;
  }

  .hamburger {
    position: relative;
    width: 20px;
    height: 2px;
    @include flex(0,0 21px);
    background-color: #fff;
    @include transform(translateZ(0));
    @include transition(transform 0.5s, background-color 0.3s);

    &:after,
    &:before {
      position: absolute;
      display: block;
      width: 21px;
      height: 2px;
      content: "";
      background-color: #fff;
      @include transition(transform 0.5s, background-color 0.3s);
    }

    &:after { top: 6px; }
    &:before { top: -6px; }

    &.active {
      background-color: transparent;

      &:before { @include transform(translateY(6px) rotate(45deg)) }
      &:after { @include transform(translateY(-6px) rotate(-45deg)) }
    }
  }
  // @End  hamburger icon animation
  // ------------------------------

  .overlay {
    display: none;

    &.active {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: rgba(0,0,0, 0.5);
      z-index: 1;
    }
  }

  .scroll-disabled { overflow: hidden; }
}

// Show the main menu horizontal with the gradient border top + bottom
@include mq-min(517px) {
  [role="navigation"] {
    position:relative;
    margin-bottom: 50px;
    padding: 10px 25px;
    text-align: center;
    font-size: 2rem;

    &:before,
    &:after {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      height: 1px;
      content: "";
      @include gradient(left, to right,
          rgba($c-main, 0) 0,
          $c-main 25%,
          $c-main 75%,
          rgba($c-main, 0) 100%);
    }

    &:before { top: 0; }
    &:after { bottom: 0; }
  }

  [role="menuitem"] {
    display: inline-block;
    padding: 0 8px;
    color: $c-main;

    &.selected {
      &:before { content: "{"; }
      &:after { content: "}"; }
    }
  }

  .hamburger-wrapper { display: none; }
}

// ---------
// @END MENU
// =========