@import "_variables";
@import "_flexbox";

@mixin perspective($value:200px, $origin: 50% 0) {
    -moz-perspective-origin: $origin;
    -moz-perspective: $value;
    -webkit-perspective-origin: $origin;
    -webkit-perspective: $value;
    perspective-origin: origin;
    perspective: $value;
}

// Mixins for font
@mixin font-kerning() {
    -webkit-font-kerning: normal;
    -moz-font-kerning: normal;
    font-kerning: normal;
}

@mixin font-feature-settings() {
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga", "kern";
    font-feature-settings: "liga", "kern";
}

@mixin font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin text-adjust() {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
// ========

@mixin gradient($deg-prefix, $deg, $arguments...) {
    background: -webkit-linear-gradient($deg-prefix, $arguments);
    background: -o-linear-gradient($deg-prefix, $arguments);
    background: -ms-linear-gradient($deg-prefix, $arguments);
    background: linear-gradient($deg, $arguments);
}

@mixin keyframes($anim-name) {
    @keyframes #{$anim-name} {
        @content;
    }
    @-webkit-keyframes #{$anim-name} {
        @content;
    }
}

@mixin animation($values...) {
    // name, duration, timing-function, delay, direction, iteration-count, fill-mode, play-state
    -webkit-animation: $values;
    -moz-animation: $values;
    -o-animation: $values;
    animation: $values;
}

// EM units are used for mediaqueries, see blog post: http://zellwk.com/blog/media-query-units/
// 400 ÷ 16 = 25
@mixin mq-max($width) {
    @media screen and (max-width: ($width / 16) + em) {
        @content;
    }
}

@mixin mq-min($width) {
    @media screen and (min-width: (($width + 1) / 16) + em) {
        @content;
    }
}

@mixin mq-minmax($min, $max) {
    @media screen and (min-width: (($min + 1) / 16) + em) and (max-width: ($max / 16) + em) {
        @content;
    }
}
// ========

// RANKING STARS MIXIN
// ===================

// Set hover + selected label for star ranking
@mixin rating-stars($stars, $star-width, $c-hover, $c-selected) {
    > label {
        position: absolute;
        top: 4px;
        &:hover { color: $c-hover; }
    }

    @for $i from 1 through length($stars) {
        > label:nth-of-type(n + #{$i}):hover ~ label { color: $c-hover; }

        // position the stars in reversed order
        > label:nth-of-type(n+#{$i}) {
            left: ($star-width * length($stars)) - ($star-width * $i);
        }

        // Set selected color on all label siblings based on the checked radio
        > input[type="radio"]:nth-of-type(n + #{$i}):checked  ~ label {
            color: $c-selected;
        }
    }
}
