$c-text: #3c4946;
$c-main: #7cb342;
$c-shadow: $c-text;
$c-hover: #558b2f;

$color-subtitle: #a9a9a9;
$code-indent: 1.2rem;
$bg-code: rgba(#c8d1cf, 0.15);

$font-generic: arial, helvetica, sans-serif;
$font-main: "Source Sans Pro", $font-generic;
$font-code: "Droid Sans Mono", $font-generic;

$c-orange: #f57c00;
$c-property: #0d47a1;
$c-selector: $c-hover;
$c-include: #7b1fa2;
$c-variable: #ef5350;
