@import url(base.min.css);

@import "variables";
@import "mixins";
@import "flexbox";
@import "code";

.header-img {
    @include mq-min(517) {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
        background: url("../img/paardebloemen.jpg") no-repeat;
        background-size: cover;
        background-position: 0 10%;
    }
}

h2 { margin-top: 4rem; }

[role="list"] {
    margin: 4rem 0 0;
    padding: 0;
    list-style-type: none;
}

[role="listitem"] {
    margin-bottom: 4rem;

    h2 { margin-bottom: 0.5rem; }
}

.blog-date { font-size: 88.88%; }

// ============
// RATING STARS
// ------------
[class^="icon-"]::before,
[class*=" icon-"] {
    font-family: mvt-icons;
    line-height: 1px;
}

.remove-rating-wrapper { margin-bottom: 1.2rem; }

$stars-list: (
    1,
    2,
    3,
    4
);

.rating {
    @include rating-stars($stars-list, 32px, orange, #f5d76d);
    position: relative;
    overflow: hidden;
    height: 32px;

    // Hide radio buttons
    [type="radio"] { margin-left: -19px; }
    label { cursor: pointer; }
    .icon-star { font-size: 3rem; }
}
// ------------------
// @END RANKING STARS
// ==================

// next + prev arrows
.nav-arrows {
    width: 100px;
    margin: 0 auto 30px;

    // arrow links
    a {
        display: inline-block;
        border-style: solid;
        @include transition(border-color 0.25s);
    }
}

// Style the prev + left arrow including hover
.arrow-prev {
    margin-right: 20px;
    border-width: 15px 20px 15px 0;
    border-color: transparent $c-main transparent transparent;

    &:hover { border-color: transparent $c-hover transparent transparent; }
}

.arrow-next {
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent $c-main;

    &:hover { border-color: transparent transparent transparent $c-hover; }
}

@import "_print";
