@import url(base.min.css);
@import url(atom-one-light.min.css);

@import "variables";
@import "mixins";
@import "flexbox";
@import "code";

.header-img {
    @include mq-min(517) {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
        background: url("../img/paardebloemen.jpg") no-repeat;
        background-size: cover;
        background-position: 0 10%;
    }
}

h2 { margin-top: 4rem; }

[role="list"] {
    margin: 4rem 0 0;
    padding: 0;
    list-style-type: none;
}

[role="listitem"] {
    margin-bottom: 4rem;

    h2 { margin-bottom: 0.5rem; }
}

.blog-date { font-size: 88.88%; }

// ============
// RATING STARS
// ------------
[class^="icon-"]::before,
[class*=" icon-"] {
    font-family: mvt-icons;
    line-height: 1px;
}

.remove-rating-wrapper { margin-bottom: 1.2rem; }

$stars-list: (
    1,
    2,
    3,
    4
);

.rating {
    @include rating-stars($stars-list, 32px, $c-orange, #fdd835);
    position: relative;
    overflow: hidden;
    height: 3.6rem;

    // Hide radio buttons
    [type="radio"] { display: none; }
    label { cursor: pointer; }
    .icon-star { font-size: 3rem; }
}
// ------------------
// @END RANKING STARS
// ==================

// next + prev arrows
.nav-arrows {
    width: 12rem;
    margin: 0 auto 30px;

    // arrow links
    a {
        display: inline-block;

        svg {
            width: 3.2rem;
            height: auto;

            &:first-child { margin-right: 2.5rem; }
        }

        rect {
            transition: fill 0.25s;
            fill: $c-main;
        }

        &:hover rect { fill: $c-hover; }
    }
}

@import "_print";
