@import "_generic";
@import "_menu";

.header-img {
  @include mq-min(517px) {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    background: url(../img/lucht.jpg) no-repeat;
    background-size: cover;
    background-position: 0 10%;
  }
}

[role="main"],
[role="article"] {
  max-width: 800px;
  margin: 0 auto;
}

[role="article"] {
  ul {
    margin: 0 0 1.5rem;
    padding: 0;
    list-style-type: none;

    li {
      position: relative;
      padding-left: 2.5rem;

      &:before {
        position: absolute;
        left: 0;
        top: 8px;
        display: block;
        width: 10px;
        height: 10px;
        content: "";
        background-color: $c-main
      }
    }
  }
}

[role="list"] {
  margin: 4rem 0 0 0;
  padding: 0;
  list-style-type: none;

  &:not(.conference-list) {
    [role="listitem"] { margin-bottom: 4rem; }
  }
  &.conference-list {
   [role="listitem"] { margin-bottom: 2rem; }
  }
}

h2 + [role="list"] { margin-top: 0; }
[role="listitem"] h2 { margin-bottom: 0.5rem; }