@import url(base.min.css);

@import "variables";
@import "mixins";

section {
    @include mq-min(900) {
        display: flex;
        padding-top: 50px;
    }
}

// ===========
// HOME BLOCKS
// -----------

// portrait + fronteers logo, blog
.img-border {
    display: block;
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 0 4px 0 $c-shadow;
    transition: transform 0.75s ease;

    &:hover {transform: rotateY(5deg); }

    img { vertical-align: top; }
}

.block-home {
    position: relative;
    padding-bottom: 6rem;
    border-bottom: 1px solid rgba($c-shadow, 0.25);

    &:nth-child(3n-1) .img-border {
        padding-top: 2.3rem;
        padding-left: 2.1rem;
        background-color: $c-main;
    }

    &-visual {
        perspective: 200px;
        margin-bottom: 2rem;
    }

    @include mq-max(467) {
        justify-content: center;
    }

    @include mq-max(900) {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 2rem;

        &-visual {
            margin-right: 2rem;
            flex: 0 0 12.5rem;
        }

        &-text { flex: 1 0 25rem; }

        h2 { margin-top: 0; }
    }

    @include mq-min(900) {
        flex: 1;
        margin: 0 2.5vw;
    }

    // animate blocks
    @include mq-min(517) {
        opacity: 0;
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation: blocks-anim 0.75s ease-out (0.75s + (0.25 * $i)) forwards;
            }
        }

        @keyframes blocks-anim {
            from {
                opacity: 0.25;
                transform: scale(0.7) translate3d(0, 0, 0);
            }

            to {
                opacity: 1;
                transform: scale(1) translate3d(0, 0, 0);
            }
        }
    }

    .read-more {
        position: absolute;
        bottom: 1rem;
    }
}

@import "_print";
