@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  height: 100%;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
  color: #3c4946; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  background-color: #f2f4f3; }

a {
  color: #a7ad7e;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s; }
  a:hover {
    color: #828856; }
  h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

p {
  margin-top: 0;
  margin-bottom: 1.8rem; }

blockquote {
  position: relative;
  margin-left: 0;
  padding-left: 3.5rem;
  font-weight: normal;
  font-style: italic;
  font-size: 111%;
  font-weight: bold; }
  blockquote:before {
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 333.33%;
    content: "\2018";
    color: #a7ad7e; }

cite {
  display: block;
  font-size: 90%;
  font-style: normal;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Slabo 27px", arial, helvetica, sans-serif;
  font-weight: normal;
  color: #a7ad7e;
  line-height: 100%; }

h1 {
  font-size: 5vw; }

h2 {
  font-size: 4vw; }

h3 {
  font-size: 3.5vw; }

h4 {
  font-size: 3vw; }

h5 {
  font-size: 2.5vw; }

h6 {
  font-size: 2vw; }

h1,
h2 {
  margin-bottom: 1.5rem; }

h3,
h4,
h5,
h6 {
  margin-bottom: 0; }

.visualwrapper {
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #fff; }

figure {
  margin: 0;
  text-align: center; }
  figure img {
    display: inline-block;
    border: 10px solid #fff;
    box-shadow: 0 0 8px 0 rgba(60, 73, 70, 0.6);
    max-width: 100%; }
  figure figcaption {
    margin-top: 0.5rem;
    font-style: italic;
    font-size: 83.33%;
    color: #849a95; }
  figure + p {
    margin-top: 2rem; }

.nav-arrows {
  width: 100px;
  margin: 0 auto 30px auto; }
  .nav-arrows a {
    display: inline-block;
    border-style: solid;
    -webkit-transition: border-color 0.25s;
    -moz-transition: border-color 0.25s;
    -ms-transition: border-color 0.25s;
    -o-transition: border-color 0.25s;
    transition: border-color 0.25s; }

.arrow-prev {
  margin-right: 20px;
  border-width: 15px 20px 15px 0;
  border-color: transparent #a7ad7e transparent transparent; }
  .arrow-prev:hover {
    border-color: transparent #828856 transparent transparent; }
.arrow-next {
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #a7ad7e; }
  .arrow-next:hover {
    border-color: transparent transparent transparent #828856; }

@media screen and (max-device-width: 517px) {
  .visualwrapper {
    padding: 100px 30px 10px 30px; } }
@media screen and (min-device-width: 517px) {
  .visualwrapper {
    padding: 36px 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); } }
@media screen and (max-device-width: 600px) {
  h1 {
    font-size: 3.6rem; }

  h2 {
    font-size: 2.6rem; }

  h3 {
    font-size: 2.3rem; }

  h4 {
    font-size: 2rem; }

  h5 {
    font-size: 1.7rem; }

  h6 {
    font-size: 1.4rem; } }
@media screen and (min-device-width: 900px) {
  h1 {
    font-size: 4.6rem; }

  h2 {
    font-size: 3.2rem; }

  h3 {
    font-size: 2.9rem; }

  h4 {
    font-size: 2.6rem; }

  h5 {
    font-size: 2.3rem; }

  h6 {
    font-size: 2.0rem; } }
@font-face {
  font-family: arvo;
  src: local("arvo"), url("../fonts/Arvo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Droid Sans Mono;
  src: local("Droid Sans Mono"), url("../fonts/DroidSansMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Slabo 27px;
  src: local("Slabo 27px"), url("../fonts/Slabo27px-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Source Sans Pro;
  src: local("Source Sans Pro"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Source Sans Pro;
  src: local("Source Sans Pro"), url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: Source Sans Pro;
  src: local("Source Sans Pro"), url("../fonts/SourceSansPro-SemiboldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: Source Sans Pro;
  src: local("Source Sans Pro"), url("../fonts/SourceSansPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "mvt-icons";
  src: url("../fonts/mvt-icons.eot");
  src: url("../fonts/mvt-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/mvt-icons.woff") format("woff"), url("../fonts/mvt-icons.ttf") format("truetype"), url("../fonts/mvt-icons.svg#mvt-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "mvt-icons";
    src: url("../fonts/mvt-icons.svg#mvt-icons") format("svg"); } }
.icon-star:before {
  content: ""; }

[role="navigation"] {
  font-family: Arvo, arial, helvetica, sans-serif; }

[role="menuitem"] {
  text-decoration: none; }

@media screen and (max-device-width: 517px) {
  [role="navigation"] {
    position: absolute;
    top: 0;
    bottom: 0;
    -ms-transform: translateX(-230px) translateZ(0);
    -webkit-transform: translateX(-230px) translateZ(0);
    transform: translateX(-230px) translateZ(0);
    width: 200px;
    font-size: 1.6rem;
    background-color: #a7ad7e;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -ms-transition: -ms-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    z-index: 2; }
    [role="navigation"].active {
      -ms-transform: translateX(-30px);
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
      box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.5); }

  [role="menuitem"] {
    display: block;
    color: #fff;
    padding: 0.4rem 0.8rem 0.4rem 1.2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(77, 77, 77, 0.25); }
    [role="menuitem"]:first-of-type {
      margin-top: 40px; }
    [role="menuitem"].selected {
      background-color: #919860;
      border-bottom: 1px solid rgba(64, 64, 64, 0.25); }
    [role="menuitem"]:hover {
      color: #fff; }

  .mobile-wrapper {
    border-top: 1px solid rgba(64, 64, 64, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); }

  .hamburger-wrapper {
    position: absolute;
    top: 0;
    -ms-transform: translateX(200px) translateZ(0);
    -webkit-transform: translateX(200px) translateZ(0);
    transform: translateX(200px) translateZ(0);
    width: 105px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    padding: 20px 13px 19px 13px;
    color: #fff;
    background-color: #a7ad7e;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -ms-transition: -ms-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out; }
    .active .hamburger-wrapper {
      -ms-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0); }

  .menu-text {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: -10px;
    margin-left: 10px; }

  .hamburger {
    position: relative;
    width: 20px;
    height: 2px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 21px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 21px;
    -ms-flex: 0 0 21px;
    flex: 0 0 21px;
    background-color: #fff;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.5s, background-color 0.3s;
    -moz-transition: -moz-transform 0.5s, background-color 0.3s;
    -ms-transition: -ms-transform 0.5s, background-color 0.3s;
    -o-transition: -o-transform 0.5s, background-color 0.3s;
    transition: transform 0.5s, background-color 0.3s; }
    .hamburger:after, .hamburger:before {
      position: absolute;
      display: block;
      width: 21px;
      height: 2px;
      content: "";
      background-color: #fff;
      -webkit-transition: -webkit-transform 0.5s, background-color 0.3s;
      -moz-transition: -moz-transform 0.5s, background-color 0.3s;
      -ms-transition: -ms-transform 0.5s, background-color 0.3s;
      -o-transition: -o-transform 0.5s, background-color 0.3s;
      transition: transform 0.5s, background-color 0.3s; }
    .hamburger:after {
      top: 6px; }
    .hamburger:before {
      top: -6px; }
    .hamburger.active {
      background-color: transparent; }
      .hamburger.active:before {
        -ms-transform: translateY(6px) rotate(45deg);
        -webkit-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg); }
      .hamburger.active:after {
        -ms-transform: translateY(-6px) rotate(-45deg);
        -webkit-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg); }

  .overlay {
    display: none; }
    .overlay.active {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1; }

  .scroll-disabled {
    overflow: hidden; } }
@media screen and (min-device-width: 517px) {
  [role="navigation"] {
    position: relative;
    margin-bottom: 50px;
    padding: 10px 25px;
    text-align: center;
    font-size: 2rem; }
    [role="navigation"]:before, [role="navigation"]:after {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      height: 1px;
      content: "";
      background: -webkit-linear-gradient(left, rgba(167, 173, 126, 0) 0, #a7ad7e 25%, #a7ad7e 75%, rgba(167, 173, 126, 0) 100%);
      background: -o-linear-gradient(left, rgba(167, 173, 126, 0) 0, #a7ad7e 25%, #a7ad7e 75%, rgba(167, 173, 126, 0) 100%);
      background: -ms-linear-gradient(left, rgba(167, 173, 126, 0) 0, #a7ad7e 25%, #a7ad7e 75%, rgba(167, 173, 126, 0) 100%);
      background: linear-gradient(to right, rgba(167, 173, 126, 0) 0, #a7ad7e 25%, #a7ad7e 75%, rgba(167, 173, 126, 0) 100%); }
    [role="navigation"]:before {
      top: 0; }
    [role="navigation"]:after {
      bottom: 0; }

  [role="menuitem"] {
    display: inline-block;
    padding: 0 8px;
    color: #a7ad7e; }
    [role="menuitem"].selected:before {
      content: "{"; }
    [role="menuitem"].selected:after {
      content: "}"; }

  .hamburger-wrapper {
    display: none; } }
[role="main"],
[role="article"] {
  max-width: 800px;
  margin: 0 auto; }

.messages-block {
  position: relative;
  margin: 0 auto;
  width: 130px;
  padding: 35px 0;
  text-align: center;
  font-family: "Slabo 27px", arial, helvetica, sans-serif;
  font-size: 5rem;
  color: #fff;
  background: #a7ad7e;
  border-radius: 10px; }
  .messages-block:before {
    position: absolute;
    -ms-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    left: -20px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-width: 15px 20px 15px 0;
    border-style: solid;
    border-color: transparent #a7ad7e transparent transparent; }

/*# sourceMappingURL=page_errors.css.map */
