<input type="checkbox" name="menu" id="toggle-menu" class="toggle-menu">
<nav role="navigation">
    <label class="hamburger-wrapper" for="toggle-menu">
        <div class="hamburger"></div>
        <div class="menu-text">Menu</div>
    </label>
    <div class="menu">
        <ul>
            {{ range .Site.Menus.main }}
            <li role="menuitem" >
                <a href="{{.URL}}"
                    {{if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}
                        class="selected"
                    {{end}}
                    {{ if $.IsPage }}
                        {{ if eq .Identifier $.Type }}class="selected"{{ end }}
                    {{ end }}>
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>
<div class="visualwrapper">
