<div class="visualwrapper">
    <div class="overlay"></div>

    <nav role="navigation">
        <div class="hamburger-wrapper">
          <div class="hamburger"></div>
          <div class="menu-text">Menu</div>
        </div>
        <div class="mobile-wrapper">
            {{ range .Site.Menus.main }}
            <a role="menuitem" href="{{.URL}}"
                {{if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}
                    class="selected"{{end}}
                {{ if $.IsPage }}
                    {{ if eq .Identifier $.Type }}class="selected"{{ end }}
                {{ end }}>{{ .Name }}</a>
            {{ end }}
        </div>
    </nav>
